# Default .gitignore for tf

.ssh
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.rc
.terraform.tfstate.lock.info
*.tfvars
*.tfvars.json
*.auto.tfvars
*.plan

id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub
*.pem
*.key
.vault_pass